<html>
<head>
    <meta charset="UTF-8"/>
    <title>Chat</title>
    <script type="text/javascript">

        function getParameterByName(name) {

            url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }


        var ws;
        function init() {
            if (getParameterByName("link") != null || getParameterByName("link") == "") {
                ws = new WebSocket("ws://95.82.220.91:8080/chat?link="+ getParameterByName("link"));
            } else {
                ws = new WebSocket("ws://95.82.220.91:8080/chat");
            }

            ws.onopen = function (event) {
            }
            ws.onmessage = function (event) {
                var $textarea = document.getElementById("messages");
                $textarea.value = $textarea.value + event.data + "\n";
            }
            ws.onclose = function (event) {
            }
        };
        function sendMessage() {
            var messageField = document.getElementById("message");

            var message = "${login}" + ":" + messageField.value;
            ws.send(message);
            messageField.value = '';

        }



    </script>
</head>
<body onload="init();">
<div id="body">
    <div id="menu">
        <p class="welcome">
            <!--
            Welcome, <input id="username" value="anonymous"/>
            -->
            Welcome, ${login}
        </p>

        <div style="clear: both"></div>
    </div>

    <div id="chatbox">
        <textarea id="messages" rows="20" cols="50" readonly="readonly"></textarea>
    </div>

    <form name="message" action="" onsubmit="sendMessage();return false;">
        <input name="usermsg" type="text" id="message" size="40"/>
        <input type="button" name="submitmsg" value="Send..." onclick="sendMessage();"/>
    </form>


    </form><button onclick="window.location.href='/'">To main page</button></form>
</div>
</body>
</html>